<h2>Alphabet Test</h2>
<p class="well">Below you'll see a braille letter. Simply type in the corresponding letter on the keyboard</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <div class="row">
      <div class="col-xs-4">
        {{brailleLetter}}
      </div>
      <div class="col-xs-2">
        {{input class="form-control input-sm" type="text" autofocus="autofocus" value=enteredLetter}}
      </div>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-6">
      <dl class="dl-horizontal">
        <dt>Last Result</dt><dd>
          {{lastLetter.braille}}
          <label {{bind-attr class=":label lastLetter.status:label-success:label-danger"}}>{{lastLetter.actualLetter}}</label>
        </dd>
        <dt>History</dt><dd>
        {{#each sd in streakDetail}}
          <label {{bind-attr class=":label sd.success:label-success:label-danger"}}>{{sd.letter}}</label>
        {{/each}}
        </dd>
        <dt>Winning streak</dt><dd>{{winningStreak}}</dd>
      </dl>
    </div>
  </div>
</div>
